/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/.idea/
/uploads/*
!/uploads
/web/.sass-cache/
/web/node_modules/
.idea/
node_modules/
db/
*.zip
tmp/
*.csv
chutier/
www/app/config/parameters.yml
*.sql
www/var/